.comment-container {
  display: flex;
  padding: 45px 15px;
  margin: 50px 0;
}

.comment-user-info {
  width: 15%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-right: 10px;
  .comment-user-id {
    font-size: 16px;
    font-weight: bold;
  }
}

.comment-details {
  width: 55%;
  text-align: left;
  // display: flex;
  // flex-direction: column;
  // align-items: flex-start;
  padding-right: 30px;
  .comment-title {
    padding-bottom: 20px;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
  }
}
.comment-rating {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment-star-container {
  display: inline-flex;
  margin-bottom: 10px;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
  color: gray;
}

.stars-inner-1,
.stars-inner-2,
.stars-inner-3,
.stars-inner-4,
.stars-inner-5 {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 1;
}

.stars-inner-1::before {
  content: "\f005";
  color: red;
}

.stars-inner-2::before {
  content: "\f005 \f005";
  color: red;
}

.stars-inner-3::before {
  content: "\f005 \f005 \f005";
  color: red;
}

.stars-inner-4::before {
  content: "\f005 \f005 \f005 \f005";
  color: red;
}

.stars-inner-5::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: red;
}

.comment-fit,
.comment-length {
  display: inline-block;
  // width: 400px;
  margin-bottom: 45px;
  .statement {
    width: 60px;
    float: left;
    text-align: left;
  }
}

.likert {
  list-style: none;
  // width: 100%;
  margin-left: 60px;
  padding: 0 0 35px;
  display: block;
  border-bottom: 2px solid #efefef;
  position: absolute;
}

.likert:last-of-type {
  border-bottom: 0;
}

.likert:before {
  content: "";
  position: relative;
  top: 11px;
  left: 9.5%;
  display: block;
  background-color: #efefef;
  height: 4px;
  width: 78%;
}

.likert li {
  display: inline-block;
  width: 19%;
  text-align: center;
  vertical-align: top;
}

.likert li input[type="radio"] {
  display: block;
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -6px;
}

.likert li label {
  width: 100%;
}
