.nav {
  border-bottom: 1px solid #ddd;
}

.navbar {
  overflow: hidden;
  width: 100vw;
  background-color: #fff;
  a {
    display: flex;
    flex-direction: row;
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    &:hover {
      color: red;
    }
  }
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 1000px) {
  .navbar-right .responsive {
    display: flex;
    flex-direction: column;
    float: left;
    text-align: left;
    color: yellow;
  }
  .navbar-right .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar a {
    float: none;
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  .navbar-right a {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}

.navbar-right {
  display: flex;
  flex-direction: row;
  float: right;
}

.login {
  flex-grow: 1;
  flex-basis: auto;
  margin: 0.25em 0;
  padding: 0 1em;
  text-align: center;
  border-left: 1px solid #ccc;
  background-color: #fff;
}

.menubar {
  display: flex;
  flex-direction: row;
  align-items: center;
  a {
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    display: flex;

    &:hover {
      .dropdown-content {
        display: inline-flex !important;
      }
    }
  }
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-color: black;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
  width: 90vw;
  margin-top: 80px;
  ul.dropdown-empty-array {
    display: grid;
  }
  ul.dropdown-array {
    list-style-type: none;
    display: grid;
    li {
      text-align: left;
    }
  }

  ul[title]::before {
    content: attr(title);
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
  }
}

.dropdown {
  display: static !important;
  position: relative;
  font-size: 16px;
  color: black;
  padding: 14px 30px;
  margin: 20px 0px;
  padding-bottom: 20px;
  width: 100%;
  transition: color 0.5s ease;

  &:hover {
    color: red;
    // border-bottom: 3px solid red;
  }
}

.dropdown-right {
  margin-left: auto;
  padding-right: 0px;
  float: right;
}

.dropdown:not(:first-child) {
  text-align: center;
  border-left: 1px solid #ccc;
  background-color: #fff;
}

@keyframes fadeInOpacity {
  0% {
    color: black;
  }
  100% {
    color: red;
  }
}

.search-form {
  height: 50px;
  padding-left: 12px;
  border: 3px solid #555;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
}

.search-input {
  border: none;
  outline: none;
  height: auto;

  &:focus::-webkit-input-placeholder {
    color: black;
  }
}

.search-submit {
  width: 50px;
  height: 50px;
}
