.register {
  margin: 25px 200px;
  display: flex;
  flex-direction: column;
}

.register-header {
  padding: 45px 0;
  border-bottom: 3px solid;
  // display: block;
  flex-direction: column;
  text-align: left;
  // float: left;
  h5 {
    font-size: 45px;
  }
  p {
    font-size: 20px;
  }
}
.register-login {
  padding: 45px 0;
  border-bottom: 3px solid;
  text-align: left;
  p {
    font-size: 20px;
  }
  button {
    color: white;
    background-color: black;
    font-weight: bold;
    width: 250px;
  }
}

.register-form {
  text-align: left;
  padding: 45px 0;

  h5 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
  form {
    padding-right: 20px;
    div {
      margin-bottom: 40px;
      display: inline-flex;
      justify-content: space-between;
      width: 100%;
      flex-direction: row;
      input {
        width: 60%;
        height: 35px;
        outline: none;
        background-color: #d3d3d3;
        border: none;
        &:focus::-webkit-input-placeholder {
          color: black;
          // border: 1px solid black;
        }
      }
      a {
        text-decoration: none;
        color: red;
      }
      .login-submit {
        background-color: black;
        color: white;
        font-weight: bold;
      }
    }
  }
}
