h5 {
  font-size: 20px;
}
p {
  font-size: 16px;
}

.register {
  margin: 25px 200px;
  display: flex;
  flex-direction: column;
}

.register-header {
  padding: 45px 0;
  border-bottom: 3px solid;
  // display: block;
  flex-direction: column;
  text-align: left;
  // float: left;
  h5 {
    font-size: 45px;
  }
  p {
    font-size: 20px;
  }
}
.register-login {
  padding: 45px 0;
  border-bottom: 3px solid;
  text-align: left;
  p {
    font-size: 20px;
  }

  a {
    button {
      background-color: black;
      width: 250px;
      color: white;
      text-decoration: none;
      font-weight: bold;
      outline: none;
    }
  }
}

.register-form {
  text-align: left;
  padding: 45px 0;
  margin-bottom: 50px;
  border-bottom: 5px solid black;

  form {
    padding-right: 20px;

    div {
      display: inline-flex;
      justify-content: space-between;
      width: 100%;
      margin: 10px 0px;
    }
  }
}
.email-description {
  grid-area: email;
}
.register-input {
  display: flex;
  flex-direction: column;

  // position: absolute;
  input {
    width: 70%;
    height: 35px;
    outline: none;
    background-color: #d3d3d3;
    border: none;
    &:focus::-webkit-input-placeholder {
      color: black;
    }
  }
  p {
    color: red;
  }
}
// .register-container {
//   display: flex;
//   flex-direction: column;
//   // display: grid;
//   // grid-template:
//   //   [row1-start] "email emailinput ." 25px [row1-end]
//   //   [row2-start] "footer footer footer" 25px [row2-end]
//   //   / auto 50px auto;
// }
.register-submit {
  background-color: black;
  width: 250px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  outline: none;
  float: right;
}

.auth-error-msg {
  p {
    height: 100px;
    color: white;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
}
