body {
  font-family: "UniqloProRegular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h3 {
  font-size: 20px;
  font-family: Verdana;
  color: #515151;
  float: left;
}

img {
  width: 40%;
}

.main-content {
  margin-left: 50px;
  margin-right: 50px;
}

.title {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}
