body {
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h3 {
  font-size: 25px;
  font-family: Verdana;
  color: #515151;
  text-align: left;
}

img {
  width: 40%;
}

.main-content {
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
}

.title {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}
